{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="content">
    <h1>All Respondents</h1>
    {% if respondents %}
    <div class="navigate">
        <label for="search-records">Search</label>
        <input type="text" name="search-records" class="search-records">
    </div>
    <table class="sortable-table">
        <thead>
            <th>
                <div class="headerDiv" sort="text" filter="value">
                    Responses
                </div>
            </th>
            <th sort="number">
                <div class="headerDiv" sort="number" filter="number">
                    Responses
                </div>
            </th>
            <th>
                <div class="headerDiv" sort="text" filter="value">
                    Sex
                </div>
            </th>
            <th sort="number">
                <div class="headerDiv" sort="number" filter="number">
                    Age
                </div>
            </th>
            <th>
                <div class="headerDiv" sort="text" filter="value">
                    Created By
                </div>
            </th>
            <th sort="date">
                <div class="headerDiv" sort="date" filter="date">
                    Created On
                </div>
            </th>
            <th sort="date">
                <div class="headerDiv" sort="date" filter="date">
                    Last Updated
                </div>
            </th>
        </thead>
            <tbody>
            {% for respondent in respondents %}
            <tr>
                <td><a href="{% url 'forms:view-respondent-detail' respondent.id %}">{{respondent}}</a></td>
                <td>{{respondent.responsesCount}}</td>
                <td>{{respondent.sex}}</td>
                <td>{{respondent.get_age}}</td>
                <td>{{respondent.created_by}}</td>
                <td>{{respondent.created_at}}</td>
                <td>{{respondent.updated_at}}</td>
            </tr>
            {% endfor %}
            </tbody>
    </table>
    {% else %}
    <p>Nothing here yet!</p>
    {% endif %}

    {% if perms.forms.add_respondent %}
        <a href="{% url 'forms:create-respondent' %}"><button>Create New Respondent</button></a>
    {% endif %}
</div>

{% endblock %}