{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="content">
    {% if user.userprofile.access_level == 'admin' or respondent.created_by == user or respondent.created_by.manager == user or respondent.created_by.supervisor %}
        <h2>Viewing {{respondent}}</h2>
        <p>First Name: {{respondent.fname}}</p>
        <p>Last Name: {{respondent.lname}}</p>
        <p>Ward: {{respondent.ward}}</p>
        <p>Village: {{respondent.village}}</p>
        <p>District: {{respondent.district}}</p>
        <p>Citizenship: {{respondent.citizenship}}</p>
        <p>Email: {{respondent.email}}</p>
        <p>Contact Number: {{respondent.contact_no}}</p>

        <p> Created At: {{respondent.created_at}}</p>
        <p> Last Updated At: {{respondent.updated_at}}</p>
        <p>Created By: {{respondent.created_by}}</p>
        <h3>{{respondent}}'s Responses</h3>
        {% if responses %}
        <ul>
            {% for response in responses %}
                {% if response.form.organization.id == user_org.id or user.userprofile.access_level == 'admin' %}
                    <a href="{% url 'forms:view-response-detail' response.id %}"> <li>{{response.form}} ({{response.response_date}})</li></a>
                {% endif %}
            {% endfor %}

        </ul>
        {% else %}
        <p>This respondent has not responded to any forms</p>
        {% endif %}
        
        {% if perms.forms.change_respondent %}
            <a href="{% url 'forms:update-respondent' respondent.id %}"><button>Edit Respondent Details</button></a>
        {% endif %}

        {% if perms.forms.delete_respondent %}
            <a href="{%url 'forms:delete-respondent' respondent.id%}"><button>Delete Respondent</button></a>
        {% endif %}
    {% else %}
            <p>You do not have permissions to view this page. Please contact your manager if you think this is a mistake.</p>
    {% endif %}
</div>
{% endblock %}