{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="content">
    <p>Don't use this page right now. </p>
    {% if perms.forms.add_user %}
        {% if user_org.id == 3 %}
            <h1>Add a new Team Member</h1>
            <form action="" method="post">
                {%csrf_token%}
                {{ form }}
                <input type="submit" value="Submit">
            </form>
        {% endif %}
    {% else %}
        <p>You do not have permissions to view this page. Please contact your manager if you think this is a mistake.</p>
    {% endif %}
</div>
{% endblock %}