{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="content">
    <h1>Your Team</h1>
    {% if employees %}

    <table class="sortable-table">
        <thead>
            <th>
                <div class="headerDiv" sort="text" filter="value">
                    Team Member
                </div>
            </th>
            <th>
                <div class="headerDiv" sort="text" filter="value">
                    Organization
                </div>
            </th>
            <th>
                <div class="headerDiv" sort="text" filter="value">
                    Role
                </div>
            </th>
            <th>
                <div class="headerDiv" sort="date" filter="date">
                    Last Login
                </div>
            </th>
            <th>
                <div class="headerDiv" sort="text" filter="value">
                    Supervisor
                </div>
            </th>
            <th>
                <div class="headerDiv" sort="text" filter="value">
                    Manager
                </div>
            </th>
        </thead>
        <tbody>
        {% for employee in employees %}
            {% if employee.userprofile.organization.id == user_org.id or employee.userprofile.organization.id == user_org.id or user.userprofile.access_level == 'admin' %}
                <tr>
                    <td><a href="{% url 'organizations:view-employee-detail' employee.id %}">{{employee}}</a></td>
                    <td>{{employee.userprofile.organization}}</td>
                    <td>{{employee.userprofile.access_level}}</td>
                    <td>{{employee.last_login}}</td>
                    <td>{{employee.userprofile.supervisor}}</td>
                    <td>{{employee.userprofile.manager}}</td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>Nothing here yet!</p>
    {% endif %}

</div>

{% endblock %}