asgiref==3.8.1
beautifulsoup4==4.13.4
dj-database-url==3.0.0
Django==4.2.20
django-bootstrap-v5==1.0.11
django-debug-toolbar==5.1.0
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
dnspython==2.7.0
email_validator==2.2.0
gunicorn==23.0.0
idna==3.10
packaging==25.0
psycopg==3.2.6
psycopg-binary==3.2.6
psycopg-pool==3.2.6
psycopg2-binary==2.9.10
PyJWT==2.9.0
python-dotenv==1.1.0
setuptools==78.1.0
soupsieve==2.7
sqlparse==0.5.3
typing_extensions==4.13.2
tzdata==2025.2
whitenoise==6.9.0
