.headerImg{
    max-height: 25vh;
    margin: 2vh;
}
body{
    background-color: rgb(21, 103, 54);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
}
a{
    color: white;
    font-weight: bold;
    text-decoration: underline;
}

button, input[type="submit"], input[type="button"]{
    padding: 5px;
    margin: 10px;
    border: 1.5px solid white;
    background-color: rgb(18, 87, 46);
    border-radius: 7px;
    color: white;
    font-weight: bold;
}

button:hover, input[type="submit"]:hover, input[type="button"]:hover {
    cursor: pointer;
    color: rgb(21, 103, 54);
    background-color: white;
}

.loginBox{
    max-width: 30%;
    padding: 10px;
    border: 6px solid white;
    background-color: rgb(18, 87, 46);
    border-radius: 5px;
    margin: auto;
}
.loginBox >*{
    margin-left: auto;
    margin-right: auto;
}
table {
    margin-left: auto;
    margin-right: auto;
}