
{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="content">
    {% if active %}
        <h1>Active Forms</h1>
    {% else %}
        <h1>Viewing all Forms</h1>
    {% endif %}
    {% if user.userprofile.access_level == 'manager' or user.userprofile.access_level == 'supervisor' or user.userprofile.access_level == 'admin' %}
            <a href="{% url 'forms:create-form' %}"><button> Create a New Form</button></a>
    {% endif %}
    {% if active_forms %}
        <table class="sortable-table">
            <thead>
                <tr>
                    <th>
                        <div class="headerDiv" sort="text" filter="value">
                            Form 
                        </div>
                    </th>
                    <th>
                        <div class="headerDiv" sort="text" filter="value">
                            Organization
                        </div>
                    </th>
                    <th>
                        <div class="headerDiv" sort="number" filter="number">
                            Responses
                        </div>
                        
                    </th>
                    <th >
                        <div class="headerDiv" sort="date" filter="date">
                            Starts
                        </div>
                    </th>
                    <th >
                        <div class="headerDiv" sort="date" filter="date">
                            Ends
                        </div>
                    </th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
            {% for form in active_forms %}
                {% if form.organization == user_org or user.userprofile.access_level == 'admin' %}
                <tr>
                    <td><a href="{% url 'forms:view-form-detail' form.id %}">{{form}}</a></td>
                    <td>{{form.organization}}</td>
                    <td>{{form.responsesCount}}</td>
                    <td>{{form.start_date}}</td>
                    <td>{{form.end_date}}</td>
                    <td><a href="{% url 'forms:create-response' form.id %}"><button>New Response</button></a></td>
                </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        {% if active %}
            <p>No active forms!</p>
        {% else %}
            <p>Your organization has not created any forms.</p>
        {% endif %}
    {% endif %}
    {% if active %}
        <a href="{% url 'forms:view-past-forms' %}">See inactive forms.</a>
    {% else %}
        <a href="{% url 'forms:view-forms-index' %}">See only active forms.</a>
    {% endif %}
    
</div>
{% endblock %}