{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'forms/styles/questionForm.css' %}">
<div class="content">
    <div class="qForm">
        <p id="warnings"></p>
    {% if user.userprofile.access_level == 'admin' %}
            {%csrf_token%}
            {{ form }}
        </div>
            <button id="submit" submit-url="{% url 'forms:create-question' %}">Submit</button>
    {% else %}
        <p>You do not have permission to perform this action.</p>
    {% endif %}
    <script src="{% static 'forms/editQuestionLogic.js' %}"></script>
</div>
{% endblock %}