{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'forms/styles/questionForm.css' %}">
<div class="content">
    <div class="qForm">
    <p id="warnings"></p>
    {% if user.userprofile.access_level == 'admin' %}
            {%csrf_token%}
            {{ form }}
            {% if options %}
                {% for option in options %}
                    <div class="option_passer" option_text="{{option.option_text}}"></div>
                {% endfor %}
            {% endif %}
    </div>
         <button id="submit" submit-url="{% url 'forms:update-question' question.id %}">Submit</button>
            {% if user.userprofile.access_level == 'admin' %}
                    <a href="{%url 'forms:delete-question' question.id%}">
                        <button>
                            Delete Question
                        </button>
                    </a>
            {% endif %}
    {% endif %}
    <script src="{% static 'forms/editQuestionLogic.js' %}"></script>
</div>

{% endblock %}