{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="content">
    <h1>Targets</h1>
    {% if targets %}
    <p class="messages"></p>
    <table class="sortable-table">
        <thead>
            <tr>
                <th>
                    <div class="headerDiv" sort="text" filter="value">
                        Question
                    </div>
                </th>
                <th>
                    <div class="headerDiv" sort="number" filter="number">
                        Target
                    </div>
                </th>
                <th>
                    <div class="headerDiv" sort="number" filter="number">
                        Actual
                    </div>
                </th>
                <th>
                    <div class="headerDiv" sort="text" filter="value">
                        Organization
                    </div>
                </th>
                <th>
                    <div class="headerDiv" sort="date" filter="date">
                        Start Date
                    </div>
                </th>
                <th>
                    <div class="headerDiv" sort="date" filter="date">
                        End Date
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
        {% if user.userprofile.access_level == 'supervisor' or user.userprofile.access_level == 'manager' or user.userprofile.access_level == 'admin' %}
            {% for target in targets %}
            <tr>
                <td><a href="{% url 'organizations:view-target-detail' target.id %}" >{{target.question}}</a></td>
                {% if target.target_amount%}
                    <td>{{target.target_amount}}</td>
                {% else %}
                    <td>{{target.as_percentage}}% of {{target.percentage_of_question}}</td>
                {% endif %}
                <td>{{target.get_actual}}</td>
                <td>{{target.organization}}</td>
                <td>{{target.target_start}}</td>
                <td>{{target.target_end}}</td>
            </tr>
            {% endfor %}
        </tbody>
        {% endif %}
    </table>
    {% else %}
    <p>Nothing here yet!</p>
    {% endif %}

    {% if user.userprofile.access_level == 'admin' %}
        <a href="{% url 'organizations:create-target' %}"><button>Create a New Target</button></a>
    {% endif %}
</div>

{% endblock %}