{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="content">

        {% if user_org.id == 3 or employee_user_profile.supervisor.id == user.id or employee_user_profile.manager.id == user.id or user.id == employee.id %}
            <h1>{{employee}}</h1>
            <p>{{employee_user_profile.organization}}</p>
            <p>Last Logged In: {{user.last_login}}</p>
            <p>Date Joined: {{user.date_joined}}</p>
            <p>Number of Responses Recorded: {{responses}}</p>
            <p>Number of Respondents Added: {{respondents}}</p>
            <p>Number of Forms Created: {{forms}}</p>
            {% if employee_user_profile.manager %}
                <p>Manager: {{employee_user_profile.manager}}</p>
            {% endif %}
            {% if employee_user_profile.supervisor %}
                <p>Supervisor: {{employee_user_profile.supervisor}}</p>
            {% endif %}
            {% if direct_team > 0 %}
                <p>Direct Team: {{direct_team}}</p>
            {% endif %}
            {% if underlings > 0 %}
                <p>Total Staff Managed: {{underlings}}</p>
            {% endif %}

        {% else %}
                <p>You do not have permissions to view this page. Please contact your manager if you think this is a mistake.</p>
        {% endif %}


</div>
{% endblock %}