.content{
    margin: 1rem;
    padding: 3vh;
    background-color: rgb(21, 103, 54);
    border-radius: 10px;
    color: white;
}
table{
    color: white;
}
a{
    color: white;
    font-weight: bold;
    text-decoration: underline;
}