*{
    margin: 0;
}
.header{
    position: sticky;
    top: 0;
    color: white;
    background-color: rgb(21, 103, 54)
}
.middle{
    padding-top: 3vh;
    display: grid;
    grid-template-columns: 25% 75%;
}
.sidebar{
    height: 100vh;
    padding: 3vh;
}

.sidebarLinks{
    display: grid;
    grid-template-columns: 15% 85%;
}