{% extends 'forms/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'forms/styles/formEditor.css' %}">
<div class="content">

    <form action="{% url 'forms:create-form' %}" method="post">

    {% if perms.forms.add_form %}
            {%csrf_token%}
            <h2>Form Details</h2>
            {{ form }}
            <h2>Form Questions</h2>
            <div class="questions" url="{% url 'forms:create-question' %}">
                <div id="question-1" class="existing-question">
                    {{ form_question }}
                </div>
            </div>
            <button id="submit" type="submit">Submit</button>
        </form>
    {% else %}
    <p>You do not have permission to perform this action.</p>
    {% endif %}
</div>
<script src="{% static 'forms/editFormLogic.js' %}"></script>

{% endblock %}