{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'forms/styles/formEditor.css' %}">
<div class="content">
    {% if user.userprofile.access_level == 'manager' or user.userprofile.access_level == 'supervisor' or user.userprofile.access_level == 'admin' %}
        {% if user_org.id == form_meta.organization.id or form_meta == None %}
            {%csrf_token%}
            <h2>Form Details</h2>
            <div class="warnings">
                <ul>
                </ul>
            </div>
            <div class="form-details">
                {{ form.as_p }}
            </div>

            <h2>Form Questions</h2>
            <div class="questions">
            </div>
            {% if form_meta %}
                <div id="form-passer" form="{{form_meta.id}}"></div>
            {% endif %}

        {% else %}
            <p>You do not have permission to view this page. </p>
        {% endif %}
    {% else %}
        <p>You do not have permission to view this page. </p>
    {% endif %}
</div>
<script type="module" src="{% static 'forms/js/editingForms/editForm.js' %}"></script>

{% endblock %}