
{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="content">
    <h1>Active Forms</h1>
    {% if active_forms %}
        <div class="navigate">
            <label for="search-records">Search</label>
            <input type="text" name="search-records" class="search-records">
        </div>
        
        <table class="sortable-table">
            <thead>
                <tr>
                    <th>Form<button>S</button></th>
                    <th>Organization <button>S</button><select></select></th>
                    <th sort="number">Responses<button>S</button></th>
                    <th sort="date">Started<button>S</button></th>
                    <th sort="date">Ends<button>S</button></th>
                    <th>Edit</th>

                </tr>
            </thead>
            <tbody>
            {% for form in active_forms %}
                {% if form.organization == user_org or user.userprofile.access_level == 'admin' %}
                <tr>
                    <td><a href="{% url 'forms:view-form-detail' form.id %}">{{form}}</a></td>
                    <td>{{form.organization}}</td>
                    <td>{{form.responsesCount}}</td>
                    <td>{{form.start_date}}</td>
                    <td>{{form.end_date}}</td>
                    <td><a href="{% url 'forms:create-response' form.id %}"><button>New Response</button></a></td>
                </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    {% else %}
    <p>Nothing here yet!</p>
    {% endif %}
    {% if user.userprofile.access_level == 'manager' or user.userprofile.access_level == 'supervisor' or user.userprofile.access_level == 'admin' %}
            <a href="{% url 'forms:create-form' %}"><button> Create a New Form</button></a>
    {% endif %}
    <script src="{% static 'js/sort-tables.js' %}"></script>
</div>
{% endblock %}