
{% extends 'forms/base.html' %}
{% load static %}

{% block content %}
<div class="content">
    <h1>Active Forms</h1>
    {% if active_forms %}
        <table>
            <tr>
                <th>Form</th>
                <th>Organization</th>
                <th>Responses</th>
                <th>Started</th>
                <th>Ends</th>
                <th>Edit</th>

            </tr>
            {% for form in active_forms %}
                {% if form.organization == user_org or user.userprofile.access_level == 'admin' %}
                <tr>
                    <td><a href="{% url 'forms:view-form-detail' form.id %}">{{form}}</a></td>
                    <td>{{form.organization}}</td>
                    <td>{{form.responsesCount}}</td>
                    <td>{{form.start_date}}</td>
                    <td>{{form.end_date}}</td>
                    <td><a href="{% url 'forms:create-response' form.id %}"><button>New Response</button></a></td>
                </tr>
                {% endif %}
            {% endfor %}
        </table>
    {% else %}
    <p>Nothing here yet!</p>
    {% endif %}
    {% if user.userprofile.access_level == 'manager' or user.userprofile.access_level == 'supervisor' or user.userprofile.access_level == 'admin' %}
            <a href="{% url 'forms:create-form' %}"><button> Create a New Form</button></a>
    {% endif %}
</div>
{% endblock %}