{% extends 'base.html' %}
{% load static %}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js"></script>
<link rel="stylesheet" href="{% static 'dataviewer/styles/create-chart.css' %}">

<div class="content">
        <h1>Create a New Chart</h1>
        <h4>Select a Question</h4>
        <div class="questionSelect"></div>
        <h3>Chart Options</h3>
        <div class="options">
            <div class="axisSelect"></div>
            <div class="toggles">
                <div class="legendToggle"></div>
                <div class="targetToggle"></div>
            </div>
        </div>

        <div class="dashboard">
            <canvas id="chart"></canvas>
        </div>

        <div class="filtersDiv">

        </div>
</div>
<script type="module" src="{% static 'dataviewer/js/create-chart.js' %}"></script>
{% endblock %}