{% extends 'base.html' %}
{% load static %}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js"></script>
<link rel="stylesheet" href="{% static 'dataviewer/styles/create-chart.css' %}">

<div class="content">
        <h1>Create a New Chart</h1>
        <ol>
            <li class="questionCont">Select a question: <div class="questionSelect"></div></li>
            <li class="axisCont">Select an x-axis breakdown: <div class="axisSelect"></div></li>
            <li class="legendCont">Select an x-axis breakdown: <div class="legendToggle"></div></li>
            <li class="targetCont">Select an x-axis breakdown: <div class="targetToggle"></div></li>
        </ol>
        <div class="dashboard">
            <canvas id="chart"></canvas>
        </div>
        <div class="filtersDiv">

        </div>
</div>
<script type="module" src="{% static 'dataviewer/js/create-chart.js' %}"></script>
{% endblock %}