{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'forms/styles/questionForm.css' %}">
<div class="content">
    <div class="qForm">
        <h1>Editing Question</h1>
        <div class="warnings">
            <ul>
            </ul>
        </div>
    {% if user.userprofile.access_level == 'admin' %}
            {%csrf_token%}
            {{ form }}
            {% if options %}
                {% for option in options %}
                    <div class="option_passer" option_text="{{option.option_text}}" special="{{option.special}}"></div>
                {% endfor %}
            {% endif %}
    </div>
         <button id="submit" submit-url="{% url 'forms:update-question' question.id %}">Submit</button>
         <button id="submit-create" submit-url="{% url 'forms:create-question' %}">Save & Create Another</button>
            {% if user.userprofile.access_level == 'admin' %}
                    <a href="{%url 'forms:delete-question' question.id%}">
                        <button>
                            Delete Question
                        </button>
                    </a>
            {% endif %}
    {% endif %}
    <script type="module" src="{% static 'forms/js/editQuestionLogic.js' %}"></script>
</div>

{% endblock %}