{% load static %}
<head>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon" />
    {% block title %}
        <title>Bonaso Data Portal</title>
    {% endblock %}
    <link rel="stylesheet" href="{% static 'errors.css' %}">
</head>

{% if form.errors %}
    <p>Incorrect username or password.</p>
{%endif%}

{% if next %}
    {%if user.is_authenticated %}
        <p>Your account does not have access to this page. Please contact an administrator.</p>
    {%else%}
        <p>Please login to see this page.</p>
    {%endif%}
{%endif%}
<img class="headerImg" src="{% static 'images/boansoWhite.png' %}" />
<div class="msg">
    <h1>Whoops!</h1>
    <p>The link you tried to visit doesn't exist. Double check you entered the address correctly.</p>
    <p>In the meantime, why don't you just <a href ="{% url 'home:home' %}"> go home? </a></p>
</div>

