{% load static %}
<link rel="stylesheet" href="{% static 'login.css' %}">
{% if form.errors %}
    <p>Incorrect username or password.</p>
{%endif%}

{% if next %}
    {%if user.is_authenticated %}
        <p>Your account does not have access to this page. Please contact an administrator.</p>
    {%else%}
        <p>Please login to see this page.</p>
    {%endif%}
{%endif%}
<img class="headerImg" src="{% static 'images/boansoWhite.png' %}" />
<div class="msg">
    <h1>F@#%&^!</h1>
    <p>Something went wrong on our side. Please try again later, and if the issue persists, please contact an admin.</p>
    <p>In the meantime, why don't you just <a href ="{% url 'home:home' %}"> go home? </a></p>
</div>
