{% extends 'base.html' %}
{% load static %}
{% block content %}

{% if user %}
{% if user_org.id == form_meta.organization.id or user_org.id == 3 %}
<div class="content">
    <h1>New Response</h1>
    <div class="warnings">
        <ul>
        </ul>
    </div>
    <button onclick="openInputWindow()">New Respondent</button>
    <script>
        function openInputWindow() {
            window.open("{% url 'forms:create-respondent' %}", "Input Window", "width=800,height=600");
        }
    </script>
    <div id="form_passer" form="{{form_meta.id}}"></div>
    <p id="messages"></p>
    <form id="response_form" action="{% url 'forms:create-response' form_meta.id %}" method="post">
        {%csrf_token%}
        {{ msg }}
        {{ form }}
        <input type="submit" value="Submit Response" id="submitButton">
    </form>
    
</div>
<script type="module" src="{% static 'forms/js/conditionalFormLogic.js' %}"></script>
{% else %}
    <p>You do not have permission to view this page. If you think this is a mistake, please contact your supervisor.</p>
{% endif %}
{% else %}
    <p>You do not have permission to view this page. If you think this is a mistake, please contact your supervisor.</p>
{% endif %}
{% endblock %}






