{% extends 'base.html' %}
{% load static %}

{% block content %}

{% if perms.forms.change_response or response.user.id == user.id %}
{% if user_org.id == form_meta.organization.id or user_org.id == 3 %}
<div class="content">
    <div id="form_passer" form="{{form_meta.id}}"></div>
    <div id="messages"></div>
    <form id="response_form" action="{% url 'forms:update-response' response.id %}" method="post">
        {%csrf_token%}
        {{ msg }}
        {{ form }}
        <input type="submit" value="Submit Response" id="submitButton">
    </form>
    
</div>
<script src="{% static 'forms/js/conditionalFormLogic.js' %}"></script>
{% else %}
<p>You do not have permission to perform this action. If you think this is a mistake, please contact your supervisor.</p>
{% endif %}
{% else %}
<p>You do not have permission to perform this action. If you think this is a mistake, please contact your supervisor.</p>
{% endif %}

{% endblock %}