{% extends 'forms/base.html' %}
{% load static %}

{% block content %}
<div class="content">
    {% if perms.forms.edit_question %}
    <form action="{% url 'forms:create-question' %}" method="post">
            {%csrf_token%}
            <h2>Form Details</h2>
            {{ form }}
            <h2>Form Questions</h2>
            <div class="questions" url="{% url 'forms:create-question' %}">
                <div id="question-1" class="existing-question">
                    {{ form_question }}
                </div>
            </div>
            <button id="submit" type="submit" submit-url="{% url 'forms:create-form' %}">Submit</button>
        </form>
    {% endif %}
</div>
<script src="{% static 'forms/editFormLogic.js' %}"></script>

{% endblock %}