{% extends 'forms/base.html' %}
{% load static %}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js"></script>
<link rel="stylesheet" href="{% static 'forms/styles/dashboard.css' %}">
<div class="content">
    <h1>Chart Creator</h1>
    <div class="chartCont">
        <canvas id="chart"></canvas>
    </div>

    {{form}}
    <button id="qSelect">Go!</button>

    <div class="chartCont">
        <canvas id="Qchart"></canvas>
    </div>
        
</div>
<script src="{% static 'forms/chartBuilder.js' %}"></script>
{% endblock %}