{% extends 'forms/base.html' %}
{% load static %}

{% block content %}
<div class="content">
    {% if perms.forms.create_question %}
        <a href="{% url 'forms:create-question' %}"><button>Create a New Question</button></a>
    {% endif %}
    {% if perms.forms.edit_question %}
        <a href="{% url 'forms:update-question' formquestion.question.id%}">
            <button>
                Update Question Details
            </button>
        </a>
    {% endif %}
    {% if perms.forms.edit_form %}
        <form action="" method="post">
            {%csrf_token%}
            {{ form }}
            <input type="submit" value="Submit">
        </form>

        {% if formquestion.id %}
            <a href="{% url 'forms:remove-form-question' formquestion.id%}">
                <button>
                    Remove Question from Form
                </button>
            </a>
        {% endif %}
    {% else %}
            <p>You do not have permissions to view this page. Please contact your manager if you think this is a mistake.</p>
    {% endif %}
</div>
{% endblock %}