{% extends 'forms/base.html' %}
{% load static %}

{% block content %}
<div class="content">
    {% if perms.forms.view_form %}
        <h1>{{ form.form_name }}</h1>
        <h3> From {{ form.organization }} </h3>
        <p> Starts On: {{form.start_date}}, Ends On: {{ form.end_date }}</p>
        {% if perms.forms.edit_form %}
        <a href="{% url 'forms:update-form' form.id %}"><button>Edit Form</button></a>
        {% endif %}

        {% if perms.forms.delete_form %}
        <a href="{% url 'forms:delete-form' form.id %}"><button>Delete Form</button></a>
        {% endif %}
        
        {% if question_option_pairs %}
            {% for meta, question, option_set in question_option_pairs %}
                <h3>{{ question.question_text }}</h3>
                <p><i>{{question.question_type}}</i></p>
                    <ul>
                    {% if option_set|length > 0 %}
                        {% for option in option_set %}
                            <li> {{option.option_text}} </li>
                        {% endfor %}
                    {% endif %}
                    </ul>
            {% endfor %}
        {% else %}
            <p>This form does not have any questions.</p>
        {% endif %}
    {% endif %}
</div>
{% endblock %}