
{% extends 'forms/base.html' %}

{% block content %}
<div class="content">
    {% if active_forms %}
        <ul>
            {% for form in active_forms %}
                <li>
                    <a href="{% url 'forms:view-form-detail' form.id %}">{{form}}</a>
                    <a href="{% url 'forms:create-response' form.id %}"><button>Record a New Response for this Form</button></a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
    <p>Nothing here yet!</p>
    {% endif %}
    {% if perms.forms.create_form %}
        <a href="{% url 'forms:create-form' %}"><button> Create a New Form</button></a>
    {% endif %}

</div>
{% endblock %}