
{% extends 'forms/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'forms/forms-list-styles.css' %}">
<div class="content">
    <h1>Active Forms</h1>
    {% if perms.forms.add_form %}
        <a href="{% url 'forms:create-form' %}"><button> Create a New Form</button></a>
    {% endif %}
    {% if active_forms %}
        <table>
            <tr>
                <th>Form</th>
                <th>Organization</th>
                <th>Responses</th>
                <th>Edit</th>

            </tr>
            {% for form in active_forms %}
                {% if form.organization == user_org or user_org.id == 3 %}
                <tr>
                    <td><a href="{% url 'forms:view-form-detail' form.id %}">{{form}}</a></td>
                    <td>{{form.organization}}</td>
                    <td>{{form.responsesCount}}</td>
                    <td><a href="{% url 'forms:create-response' form.id %}"><button>Record a New Response for this Form</button></a></td>
                </tr>
                {% endif %}
            {% endfor %}
            </table>
    {% else %}
    <p>Nothing here yet!</p>
    {% endif %}

</div>
{% endblock %}