{% extends 'forms/base.html' %}
{% load static %}

{% block content %}
<div class="content">
    {% if perms.forms.view_response %}
        <h2>Viewing {{response}} from {{response.respondent}}</h2>

        {% for question, answer in question_answer_pairs %}
            <h5> {{question.question_text}} </h5>
            {% if answer != 'No response given.' %}
                <p>{{answer}}</p>
            {% else %}
                <p> No response given</p>
            {% endif %}
        {% endfor %}
        <p> Created At: {{response.created_at}}</p>
        <p> Last Updated At: {{response.updated_at}}</p>


        {% if perms.forms.edit_response %}
            <a href="{% url 'forms:update-response' response.id %}"><button>Edit Response</button></a>
        {% endif %}
        {% if perms.forms.delete_response %}
            <a href="{%url 'forms:delete-response' response.id%}"><button>Delete Response</button></a>
        {% endif %}
    {% else %}
            <p>You do not have permissions to view this page. Please contact your manager if you think this is a mistake.</p>
    {% endif %}
</div>
{% endblock %}